footer
    background #fff
    border-top 2px solid $azul
    padding 20px 0
    .center
        display flex
        justify-content space-between
    .col
        img
            display block
            max-width 100%
        span
            display block
            asap 14 bold
            color $azul
            margin-bottom 10px
    +mobile()
        .center
            display block
        .col
            + .col
                margin-top 20px
            span
                font-size 12px
                margin-bottom 5px
