header
    background $cinzaBg
    .center
        clearfix()
    .logo
        display block
        float left
        width 206px
        height 60px
        background $img('marca-sandoz.png') no-repeat center
        text-indent -9999px
        +mobile()
            width 160px
            background-size 100% auto
    .area-restrita
        display block
        background $azul
        height 60px
        line-height 60px
        float right
        transform skewX(-20deg)
        padding 0 35px
        transition background .3s
        &:hover
            background $azulEscuro
        > div
            transform skewX(20deg)
            montserrat 14
            color #fff
            .logout
                position relative
                display inline-block
                width 20px
                height 20px
                background $azulDestaque
                border-radius 100%
                margin-left 8px
                transform translateY(4px)
                &:before
                &:after
                    content ''
                    position absolute
                    width 2px
                    height 8px
                    background #fff
                    top 6px
                    left 9px
                &:before
                    transform rotate(45deg)
                &:after
                    transform rotate(-45deg)
        +mobile()
            transform none
            padding 0 10px
            > div
                transform none
                font-size 12px
                .nome
                    display inline-block
                    vertical-align middle
                    max-width 100px
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                .logout
                    transform translateY(6px)
    nav
        background $azul
        text-align center
        a
            display inline-block
            montserrat 15
            padding 8px 10px
            text-transform uppercase
            color #fff
            transition background .3s
            &:hover
            &.active
                background $azulDestaque
            + a
                margin-left 20px
        +tablet()
            a + a
                margin-left 10px
        +below(900px)
            text-align left
            a
                display block
                font-size 14px
                + a
                    margin 0
