.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.banner
    padding 20px 0
    border-bottom 2px solid $azul
    background $img('bg-banner-internas.jpg') no-repeat center
    background-size cover
    img
        max-width 100%
        display block
    +below($tablet)
        padding 15px 0
    +tablet()
        img
            width 350px
    +mobile()
        img
            width 100%
            max-width 200px

.video-wrapper
    position relative
    padding-bottom 56.25%
    height 0
    overflow hidden
    max-width 100%
    iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%
