.aulas
    padding 40px 0 60px
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .aula-exibicao
        width 60%
        float right
        +mobile()
            width 100%
            margin-bottom 35px
        .descricao
            margin-top 20px
            display flex
            .imagem img
                width 120px
                +mobile()
                    width 65px
            .texto
                padding-top 20px
                padding-left 20px
                color $azul
                h4
                    asap 18
                    margin 0
                h3
                    montserrat 24 bold
                    margin .5em 0 1em
                p
                    asap 14
                    margin 0
                +mobile()
                    padding-top 0
                    padding-left 15px
                    h4
                        font-size 16px
                    h3
                        font-size 18px
            + div
                margin-top 60px
                +mobile()
                    margin-top 25px
        .outros-videos
        .downloads
            border-top 2px solid #10CAFD
            margin-top 32px
            padding-top 10px
            h5
                asap 18
                color $azul
                margin 0 0 .8em
            +mobile()
                margin-top 20px
                h5
                    font-size 16px
        .outros-videos
            clearfix()
            a
                width calc('33.333% - 6.666px')
                float left
                display block
                margin-right 10px
                margin-bottom 10px
                position relative
                &:after
                    content ''
                    width 100%
                    height 100%
                    background-color transparent
                    position absolute
                    top 0
                    left 0
                    transition background .3s
                &:hover:after
                    background-color rgba($azulDestaque, .5)
                .icone-play
                    width 30px
                    height 30px
                    position absolute
                    z-index 2
                    left 50%
                    top 50%
                    transform translateX(-50%) translateY(-50%)
                    border 3px solid #fff
                    border-radius 100%
                    &:after
                        content ''
                        width 0
                        height 0
                        border-style solid
                        border-width 6px 0 6px 11px
                        border-color transparent transparent transparent #fff
                        position absolute
                        top 5px
                        left 8px
                &:nth-child(3n)
                    margin-right 0
                img
                    width 100%
                    display block
        .downloads
            a
                display block
                background $img('icone-pdf.png') no-repeat 15px center #EAEAEA
                padding 15px
                padding-left 60px
                asap 16 bold
                color $azul
                transition background .3s, color .3s
                + a
                    margin-top 5px
                &:hover
                    background-color $azul
                    color #fff
                +mobile()
                    font-size 14px
    nav
        width 32%
        float left
        +mobile()
            width 100%
        a
            display flex
            background $azul
            padding 5px
            transition background .3s
            &:hover
            &.active
                background $azulEscuro
            .imagem img
                width 50px
            .texto
                padding 0 10px
                color #fff
                p
                    asap 14
                    margin 0 0 2px
                h3
                    asap 16 bold
                    margin 0
            + a
                margin-top 5px
