.certificado
    padding 50px 0 135px
    +tablet()
        padding 40px 0 60px
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .informacoes
        width 360px
        float left
        h2
            montserrat 28
            color $azulEscuro
            margin 0
        p
            asap 18
            color $azulEscuro
            font-style italic
            margin-top .8em
            line-height 1.2
        +tablet()
            width 100%
            margin-bottom 20px
            h2
                max-width 360px
            p
                max-width 450px
        +mobile()
            width 100%
            margin-bottom 20px
            h2
                max-width 300px
                font-size 24px
            p
                max-width 450px
                font-size 15px
    .box
        width 720px
        float right
        background #EAEAEA
        min-height 270px
        display flex
        flex-direction column
        justify-content center
        align-items center
        p
            margin 0
            montserrat 22
            color $azulEscuro
            text-align center
        a
            display inline-block
            margin-top 50px
            width 450px
            background $azul
            padding 18px
            asap 22 bold
            color #fff
            text-align center
            transition background .3s
            &:hover
                background $azulEscuro
        +tablet()
            width 100%
            p
                font-size 20px
            a
                font-size 20px
                width 60%
        +mobile()
            width 100%
            display block
            padding 30px
            min-height auto
            p
                font-size 16px
            a
                font-size 18px
                width 100%
                margin-top 20px
