.banner-home
    padding 95px 0
    border-bottom 2px solid $azul
    background $img('bg-banner-home.jpg') no-repeat center
    background-size cover
    img
        max-width 100%
        display block
    +below($tablet)
        padding 5% 0
    +tablet()
        img
            width 700px
    +mobile()
        img
            width 100%
            max-width 300px

.lista-aulas-grande
    background $cinzaBg
    padding 40px 0 55px
    +tablet()
        padding 30px 0 40px
    +mobile()
        padding 25px 0
    .center
        display flex
        flex-wrap wrap
        a
            display block
            width calc('50% - 3px')
            background $azul
            margin-bottom 6px
            transition background .3s
            padding 10px
            display flex
            &:hover
                background $azulEscuro
            &:nth-child(2n)
                margin-left 6px
            .texto
                padding 10px 20px
                color #fff
                p
                    asap 18
                    margin 0 0 .5em
                    &.descricao
                        margin .5em 0 0
                        font-size 16px
                h3
                    asap 24 bold
                    margin 0
            +tablet()
                img
                    width 80px
                .texto
                    padding 5px 15px
                    p
                        font-size 15px
                        margin-bottom 6px
                        &.descricao
                            font-size 14px
                    h3
                        font-size 18px
            +mobile()
                width 100%
                margin-left 0 !important
                img
                    width 65px
                .texto
                    padding 5px 15px
                    p
                        font-size 14px
                        margin-bottom 2px
                        &.descricao
                            font-size 13px
                    h3
                        font-size 16px
