.login
    background $cinzaBg
    padding 35px 0 55px
    +mobile()
        padding 25px 0 30px
    h2
        text-align center
        margin 0
        asap 14
        color $azul
    form
        width 100%
        max-width 450px
        margin 25px auto 0
        clearfix()
        input
            width 100%
            display block
            background #fff
            asap 16
            color $azul
            border 0
            outline 0
            height 40px
            padding 0 10px
            + input
                margin-top 5px
            &[type=submit]
                background $azul
                color #fff
                transition background .3s
                cursor pointer
                &:hover
                    background $azulEscuro
            +mobile()
                font-size 14px
        a
            float right
            asap 12
            display inline-block
            margin-top 15px
            color $azul
            &:hover
                text-decoration underline
    .btn-cadastro
        width 100%
        max-width 450px
        margin 60px auto 0
        a
            display block
            border 1px solid $azul
            asap 16 bold
            color $azul
            text-align center
            padding 10px 0
            transition background .3s
            margin-top 6px
            &:hover
                background rgba($azulDestaque, .35)
            +mobile()
                font-size 14px
    .enviado
        margin 25px auto 0
        asap 16
        color $azul
        text-align center
        +mobile()
                font-size 14px

.erro
    background rgba(#94251B, .1)
    border 1px solid rgba(#94251B, .45)
    border-radius 4px
    text-align center
    padding 10px
    asap 14
    color #94251B

.cadastro
    background $cinzaBg
    padding 35px 0 55px
    +mobile()
        padding 25px 0 30px
    .erro
        margin-bottom 5px
    form
        width 100%
        max-width 610px
        margin 0 auto
        .row
            clearfix()
            + .row
                margin-top 5px
            label
                width 170px
                text-align right
                padding-right 20px
                asap 16
                color $azul
                float left
                line-height 40px
            input
                width calc('100% - 170px')
                float right
                background #fff
                asap 16
                color $azul
                height 40px
                border 0
                outline 0
                padding 0 10px
                &[type=submit]
                    background $azul
                    color #fff
                    transition background .3s
                    cursor pointer
                    &:hover
                        background $azulEscuro
            +mobile()
                + .row
                    margin-top 10px
                label
                    width 100%
                    text-align left
                    padding 0
                    line-height 1
                    margin-bottom 5px
                    font-size 14px
                input
                    width 100%
                    font-size 14px
