.palestrantes
    padding 65px 0 85px
    +mobile()
        padding 25px 0
    .wrapper
        width 100%
        margin 0 auto
        max-width 820px
        clearfix()
        + .wrapper
            margin-top 45px
            +tablet()
                margin-top 30px
            +mobile()
                margin-top 20px
    img
        float left
        display block
    .texto
        color $azul
        float right
        width calc('100% - 200px')
        +mobile()
            float left
            width 100%
            margin-top 20px
        h2
            montserrat 24
            margin-top 0
        p
            asap 16
            max-width 650px
        ul
            max-width 650px
            padding 0
            list-style none
            li
                asap 16
                padding-left 1em
                position relative
                &:before
                    content '\2022'
                    position absolute
                    left 0
                + li
                    margin-top .5em
    +mobile()
        .texto
            h2
                font-size 18px
            p
                font-size 14px
            ul li
                font-size 14px
