.sobre
    padding 50px 0
    .texto
        width 100%
        max-width 820px
        margin-left auto
        color $azul
        h2
            montserrat 24
            margin-top 0
        p
            asap 16
            max-width 650px
        ul
            max-width 650px
            padding 0
            list-style none
            li
                asap 16
                padding-left 1em
                position relative
                &:before
                    content '\2022'
                    position absolute
                    left 0
                + li
                    margin-top .5em
        .video-wrapper
            margin-top 40px
    +mobile()
        padding 25px 0
        .texto
            h2
                font-size 18px
            p
                font-size 14px
            ul li
                font-size 14px
            .video-wrapper
                margin-top 25px
